.footer
{
  position: absolute;
  bottom: 0;
  right: 0;

  height: 10rem;
  width: 12rem;

  background: $color-night;
  border: 1px solid $color-grey;
  border-right: none;
  border-bottom: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  z-index: z('footer');

  @include media('<=tablet')
  {
    height: 13rem; 
    width: 15rem; 
  }

  &__interaction 
  {
    @extend %titleLight-16;
    color: $color-cultured;

    cursor: pointer;

    position: absolute; 
    top: 50%; 
    left: 50%; 

    transform: translate(-50%, -50%);

    width: 100%; 

    @include media('<=tablet')
    {
      font-size: 2rem;
    }

    @include media('<=500px')
    {
      font-size: 2.5rem;
    }

    .char 
    {
      opacity: 0.0;
    }
  }

  &__top
  {
    grid-area: 1 / 1 / 2 / -1;
    align-self: flex-end;
    justify-self: center;

    display: none; 
  }

  &__title
  {
    grid-area: 2 / 1 / 3 / -1;
    align-self: center;
    justify-self: center;

    width: 100%;

    position: relative;
    text-align: center;
  }

  &__btm
  {
    grid-area: 3 / 1 / -1 / -1;
    align-self: flex-start;
    justify-self: center;

    display: none; 
  }

  &__icons
  {
    display: flex;
    align-items: center;
    justify-content: center;

    &__media
    {
      height: 2.5rem;
      width: 2.5rem;

      margin: 0 1.325rem;
      vertical-align: top;
      opacity: 1;
      transition: all 0.2s linear;

      opacity: 0.0;
      pointer-events:none;

      @include media('<=tablet')
      {
        height: 4rem; 
        width: 4rem; 
      }

      @include media('<=phone')
      {
        height: 3rem; 
        width: 3rem; 
      }

      @include media('<=500px')
      {
        height: 5rem; 
        width: 5rem; 

        margin: 0 3rem;
      }

      &:hover
      {
        opacity: 0.5;
      }

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__div
      {
        height: 100%;
        width: 100%;

        cursor: pointer;

        transition: all 0.2s linear;

        &:hover
        {
          opacity: 0.5;
        }

        &__link
        {
          visibility: hidden;
        }

        &__icon
        {
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: invert(1);
        }
      }
    }
  }
}
