.about
{
  @extend %page;

  &__media__figure
  {
    height: 40rem;
    width: 50rem;
    position: relative;

    @include media('<=tablet')
    {
      height: 60rem;
      width: 70rem;
    }

    @include media('<=phone')
    {
      height: 40rem;
      width: 50rem;
    }

    &__image
    {
      @extend %cover;

      object-fit: cover;
    }
  }

  &__wrapper
  {

  }

  &__header
  {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 70rem;

    @include media('<=tablet')
    {
      display: flex;
      flex-direction: column;
      padding: 20rem 0;
    }

    &__title
    {
      grid-area: 1 / 1 / -1 / 2;
      align-self: center;
      padding: 10rem 12.7rem;
      border-right: 1px solid $color-cadet-blue-crayola;

      @include media('<=tablet')
      {
        border: none;
        padding: 10rem;
        text-align: center;
      }

      &__text
      {
        @extend %title-200;

        letter-spacing: 2rem;

        @include media('<=tablet')
        {
          font-size: 15rem;
        }

        @include media('<=phone')
        {
          font-size: 10rem;
        }
      }
    }

    &__media
    {
      grid-area: 1 / 2 / -1 / -1;
      align-self: center;
      justify-self: center;

      visibility: hidden;
    }
  }

  &__background
  {
    border-top: 1px solid $color-cadet-blue-crayola;

    @include media('<=tablet')
    {
      border: none;
    }

    &__gc
    {
      display: grid;
      grid-template-columns: 1fr 5rem 70rem;

      @include media('<=tablet')
      {
        display: flex;
        flex-direction: column;
      }

      @include media('<=phone')
      {
        gap: 10rem;
      }

      &__smdesc
      {
        @extend %center;

        grid-area: 1 / 1 / -1 / 2;
        height: 100%;
        width: 100%;
        padding: 10rem 12.7rem;

        border-bottom: 1px solid $color-cadet-blue-crayola;

        @include media('<=tablet')
        {
          border: none;
          margin-top: 10rem;
          padding: 5rem;
        }

        @include media('<=phone')
        {
          margin-top: 0;
          border-bottom: none;
        }

        @include media('<=400px')
        {
          padding-bottom: 20rem;
        }

        &__div
        {
          height: 100%;
          padding-top: 5rem;

          @include media('<=tablet')
          {
            padding: 5rem;
            margin-bottom: 10rem;
          }

          @include media('<=phone')
          {
            margin-bottom: 0;
          }

          &__text
          {
            @extend %desc-40;

            height: 100%;

            @include media('<=tablet')
            {
              font-style: italic;
              font-size: 3rem;
              padding: 10rem;
            }

            @include media('<=phone')
            {
              font-size: 2rem;
              padding: 0;
            }

            @include media('<=500px')
            {
              font-size: 4rem;
            }
          }
        }

      }

      &__bg
      {
        grid-area: 1 / 2 / -1 / 3;
        height: 100%;
        width: 100%;
        align-self: flex-start;
        justify-self: center;

        &__title
        {
          display: flex;
          justify-content: center;
          align-items: center;

          writing-mode:vertical-rl;
          transform: scale(-1, -1);

          height: 100%;
          width: 100%;
          padding: 2rem 0;
          border-left: 1px solid $color-cadet-blue-crayola;
          border-top: 1px solid $color-cadet-blue-crayola;

          @include media('<=phone')
          {
            height: fit-content;
            border-top: none;
            transform: none;
            writing-mode: horizontal-tb;
          }

          @include media('<=500px')
          {
            padding: 10rem 0; 
          }

          &__text
          {
            @extend %title-25;

            @include media('<=tablet')
            {
              font-size: 7.5rem;
              text-transform: uppercase;
              letter-spacing: 5rem;
            }

            @include media('<=phone')
            {
              font-size: 5rem;
              letter-spacing: 2.5rem;
            }

            @include media('<=500px')
            {
              font-size: 6rem;
            }

            .word
            {
              display: flex;
            }
          }
        }
      }
    }
    &__desc
    {
      grid-area: 1 / 3 / -1 / -1;

      @include media('<=phone')
      {
        border-top: 1px solid $color-cadet-blue-crayola;
      }

      &__frame
      {
        text-align: center;
        padding: 4rem 2rem;
        border-top: 1px solid $color-cadet-blue-crayola;

        @include media('<=tablet')
        {
          padding: 6rem 2rem;
        }

        @include media('<=phone')
        {
          padding: 4rem 2rem;
        }

        &:first-of-type
        {
          border: none;
        }

        &:last-of-type
        {
          border-bottom: 1px solid $color-cadet-blue-crayola;
        }

        &__text
        {
          @extend %desc-25;

          @include media('<=tablet')
          {
            font-size: 3rem;
          }

          @include media('<=phone')
          {
            font-size: 2rem;
            text-align: right;
          }

          @include media('<=500px')
          {
            font-size: 3rem;
          }
        }
      }
    }
  }

  &__clients
  {
    padding-bottom: 12.7rem;

    @include media('<=tablet')
    {
      margin-top: 20rem;
    }

    &__title
    {
      @include media('<=tablet')
      {
        text-align: center;
        padding-bottom: 20rem;
      }

      &__text
      {
        @extend %title-70;

        letter-spacing: 2rem;
        padding: 12.7rem;

        @include media('<=tablet')
        {
          padding: 2rem;
          letter-spacing: 0.5rem;
          font-size: 7.5rem;
        }

        @include media('<=phone')
        {
          font-size: 5rem;
        }

        @include media('<=500px')
        {
          font-size: 7rem;
        }
      }
    }

    &__gallery
    {
      @include media('<=tablet')
      {
        border-top: 1px solid $color-cadet-blue-crayola;
      }

      &__wrapper
      {
        padding: 0 35rem;

        @include media('<=tablet')
        {
          padding: 0rem;
        }
      }

      &__client
      {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid $color-cadet-blue-crayola;

        @include media('<=tablet')
        {
          justify-content: center;
        }

        @include media('<=phone')
        {
          justify-content: space-between;
        }

        &__name
        {
          @extend %desc-25;

          letter-spacing: 1rem;
          padding: 3rem;

          @include media('<=tablet')
          {
            font-size: 3rem;
            padding: 5rem;
          }

          @include media('<=phone')
          {
            font-size: 2rem;
          }

          @include media('<=500px')
          {
            font-size: 3rem;
          }
        }
      }

    }
  }

  &__desc
  {
    display: grid;
    grid-template-columns: 1fr 70rem;
    height: 100%;
    width: 100%;
    padding: 12.7rem;
    padding-right: 0;

    @include media('<=tablet')
    {
      display: flex;
      flex-direction: column;
      padding: 2.7rem;
    }

    @include media('<=400px')
    {
      padding-bottom: 20rem;
    }

    &__gc
    {
      grid-area: 1 / 1 / -1 / 2;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      padding-left: 12.7rem;

      display: grid;
      grid-template-columns: 5rem 1fr;

      @include media('<=tablet')
      {
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 2.7rem;
        margin-top: 20rem;
      }

      &__title
      {
        @extend %center;

        grid-area: 1 / 1 / -1 / 2;
        height: 100%;
        width: 100%;

        @include media('<=tablet')
        {
          display: flex; 
          justify-content: flex-end;

          width:fit-content;
        }

        &__text
        {
          @extend %title-25;

          writing-mode: vertical-rl;
          transform: scale(-1, -1);

          @include media('<=tablet')
          {
            font-size: 7.5rem;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
          }

          @include media('<=phone')
          {
            font-size: 5rem;
          }

          @include media('<=500px')
          {
            font-size: 7rem;
          }

          .word
          {
            display: flex;
          }
        }
      }

      &__desc
      {
        grid-area: 1 / 2 / -1 / -1;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include media('<=tablet')
        {
          width: fit-content;
        }

        &__text
        {
          @extend %desc-25;

          @include media('<=tablet')
          {
            font-size: 3rem;
          }

          @include media('<=phone')
          {
            font-size: 2rem;
          }

          @include media('<=500px')
          {
            font-size: 3rem;
            letter-spacing: 0.2rem;
            line-height: 4rem;
          }
        }
      }
    }


    &__location
    {
      @extend %center;

      grid-area: 1 / 2 / -1 / -1;
      width: 100%;
      height: 100%;
      padding: 12.7rem;

      border-left: 1px solid $color-cadet-blue-crayola;

      @include media('<=tablet')
      {
        display: flex; 
        justify-content: flex-end;

        border: none;
        padding: 2.7rem;
        margin-bottom: 40rem;
      }

      @include media('<=500px')
      {
        justify-content: center;

        margin-bottom: 20rem;
      }
      
      &__text
      {
        @extend %title-70;

        writing-mode: vertical-lr;
        transform: scale(1, 1);

        @include media('<=tablet')
        {
          writing-mode: horizontal-tb;
          transform: none;
          font-size: 3.5rem;
        }

        @include media('<=phone')
        {
          font-size: 3rem;
        }

        @include media('<=500px')
        {
          font-size: 4rem;
        }
      }
    }
  }

  &__press
  {
    padding-bottom: 12.7rem;

    @include media('<=400px')
    {
      padding-bottom: 20rem;
    }

    &__title
    {
      @include media('<=tablet')
      {
        text-align: center;
        margin-bottom: 10rem;
      }

      &__text
      {
        @extend %title-70;

        text-transform: uppercase;
        letter-spacing: 1rem;
        padding: 12.7rem;
        padding-top: 0;

        @include media('<=tablet')
        {
          padding: 0;
          font-size: 7.5rem;
        }

        @include media('<=phone')
        {
          font-size: 5rem;
        }

        @include media('<=500px')
        {
          font-size: 7rem;
        }
      }
    }

    &__content
    {
      padding: 0 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include media('<=tablet')
      {
        padding: 0;
      }

      &__div
      {
        @extend %link__dot__selection--hidden;

        width: 100%;
        border-bottom: 1px solid $color-cadet-blue-crayola;
        transition: all 0.5s ease-in-out;

        &:first-of-type
        {
          @include media('<=tablet')
          {
            border-top: 1px solid $color-cadet-blue-crayola;
          }
        }

        &__title
        {
          @extend %desc-25;

          cursor: pointer;
          padding: 3rem;

          @include media('<=tablet')
          {
            font-size: 3rem;
            padding: 5rem;
          }

          @include media('<=phone')
          {
            font-size: 2rem;
          }

          @include media('<=500px')
          {
            font-size: 3rem;
          }

          &__link
          {
            visibility: hidden;
          }
        }
      }
    }
  }

  &__contact
  {
    height: 100%;
    width: 100%;
    padding: 22.7rem;

    @include media('<=tablet')
    {
      padding: 2.7rem;
      margin-top: 20rem;
    }

    @include media('<=phone')
    {
      padding: 2.7rem;
      margin-top: 10rem;
    }

    &__title
    {
      text-align: center;

      padding-bottom: 6rem;

      &__text
      {
        @extend %title-100;

        text-transform: uppercase;

        @include media('<=tablet')
        {
          font-size: 7.5rem;
        }

        @include media('<=phone')
        {
          font-size: 5rem;
        }

        @include media('<=500px')
        {
          font-size: 7rem;
        }

        &__link
        {
          visibility: hidden;
        }
      }
    }

    &__details
    {
      @extend %center;

      padding-bottom: 12.7rem;

      text-align: center;

      @include media('<=tablet')
      {
        padding-bottom: 0;
      }

      &__text
      {
        @extend %link--hidden;
        @extend %desc-40;

        cursor: pointer;
        line-height: 2;
        letter-spacing: 1rem;
        padding: 0.5rem 0;

        @include media('<=tablet')
        {
          letter-spacing: 0.5rem;
          padding: 0;
          font-size: 3rem;
        }

        @include media('<=phone')
        {
          font-size: 2.5rem;
        }

        @include media('<=500px')
        {
          font-size: 3.5rem;
        }
      }
    }

    &__icons
    {
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('<=tablet')
      {
        flex-wrap: wrap;

        padding: 5rem;
      }

      &__icon
      {
        height: 4rem;
        width: 4rem;

        margin: 0 2rem;
        vertical-align: top;
        opacity: 1;
        transition: all 0.2s linear;

        @include media('<=tablet')
        {
          height: 5rem;
          width: 5rem;

          margin: 6rem;
        }

        &:hover
        {
          opacity: 0.5;
        }

        &__div
        {
          height: 100%;
          width: 100%;
          cursor: pointer;

          &__link
          {
            visibility: hidden;
          }
        }

        &__image
        {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__footer
  {
    height: 100%;
    width: 100%;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 70rem 1fr;
    border-top: 1px solid $color-cadet-blue-crayola;

    @include media('<=tablet')
    {
      border: none;
      padding: 10rem 0;
      display: flex;
      flex-direction: column;
    }

    &__media
    {
      grid-area: 1 / 1 / -1 / 2;
      align-self: center;
      justify-self: center;

      visibility: hidden;
    }

    &__title
    {
      grid-area: 1 / 2 / -1 / -1;
      align-self: center;
      padding: 10rem 12.7rem;
      border-left: 1px solid $color-cadet-blue-crayola;

      @include media('<=tablet')
      {
        border: none;
        padding: 10rem;
        text-align: center;
      }

      &__text
      {
        @extend %title-200;

        letter-spacing: 2rem;

        @include media('<=tablet')
        {
          font-size: 15rem;
        }

        @include media('<=phone')
        {
          font-size: 10rem;
        }
      }
    }
  }
}
