.about
{
  @extend %page;

  &__media__figure
  {
    height: 40rem;
    width: 50rem;
    position: relative;

    @include media('<tablet')
    {
      height: 110rem;
      width: 120rem;
    }

    @include media('<phone')
    {
      height: 80rem;
      width: 90rem;
    }

    &__image
    {
      @extend %cover;

      object-fit: cover;
    }
  }

  &__wrapper
  {

  }

  &__header
  {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 70rem;

    @include media('<tablet')
    {
      display: flex;
      flex-direction: column;
      padding: 20rem 0;
    }

    &__title
    {
      grid-area: 1 / 1 / -1 / 2;
      align-self: center;
      padding: 10rem 12.7rem;
      border-right: 1px solid $color-cadet-blue-crayola;

      @include media('<tablet')
      {
        border: none;
        padding: 10rem;
        text-align: center;
      }

      &__text
      {
        @extend %title-200;

        letter-spacing: 2rem;

        @include media('<tablet')
        {
          font-size: 25rem;
        }

        @include media('<phone')
        {
          font-size: 10rem;
        }
      }
    }

    &__media
    {
      grid-area: 1 / 2 / -1 / -1;
      align-self: center;
      justify-self: center;

      visibility: hidden;
    }
  }

  &__background
  {
    border-top: 1px solid $color-cadet-blue-crayola;

    @include media('<tablet')
    {
      border: none;
    }

    &__gc
    {
      display: grid;
      grid-template-columns: 1fr 5rem 70rem;

      @include media('<tablet')
      {
        display: flex;
        flex-direction: column;
      }

      &__smdesc
      {
        @extend %center;

        grid-area: 1 / 1 / -1 / 2;
        height: 100%;
        width: 100%;
        padding: 10rem 12.7rem;

        border-bottom: 1px solid $color-cadet-blue-crayola;

        @include media('<tablet')
        {
          border: none;
          margin-top: 30rem;
          padding: 5rem;
        }

        @include media('<phone')
        {
          margin-top: 60rem;
        }

        &__div
        {
          height: 100%;
          padding-top: 5rem;

          @include media('<tablet')
          {
            padding: 5rem;
            margin-bottom: 30rem;
          }

          @include media('<phone')
          {
            padding: 2.7rem;
            margin-bottom: 60rem;
          }

          &__text
          {
            @extend %desc-40;

            height: 100%;

            @include media('<tablet')
            {
              font-style: italic;
              font-size: 8rem;
              padding: 10rem;
            }

            @include media('<phone')
            {
              font-size: 4rem;
              padding: 0;
            }
          }
        }

      }

      &__bg
      {
        grid-area: 1 / 2 / -1 / 3;
        height: 100%;
        width: 100%;
        align-self: flex-start;
        justify-self: center;

        &__title
        {
          display: flex;
          justify-content: center;
          align-items: center;

          writing-mode:vertical-rl;
          transform: scale(-1, -1);

          height: 100%;
          width: 100%;
          padding: 2rem 0;
          border-left: 1px solid $color-cadet-blue-crayola;
          border-top: 1px solid $color-cadet-blue-crayola;

          &__text
          {
            @extend %title-25;

            @include media('<tablet')
            {
              font-size: 20rem;
              text-transform: uppercase;
              letter-spacing: 5rem;
            }

            @include media('<phone')
            {
              font-size: 10rem;
            }

            .word
            {
              display: flex;
            }
          }
        }
      }
    }
    &__desc
    {
      grid-area: 1 / 3 / -1 / -1;

      &__frame
      {
        text-align: center;
        padding: 4rem 2rem;
        border-top: 1px solid $color-cadet-blue-crayola;

        @include media('<tablet')
        {
          padding: 6rem 2rem;
        }

        @include media('<phone')
        {
          padding: 4rem 2rem;
        }

        &:first-of-type
        {
          border: none;
        }

        &:last-of-type
        {
          border-bottom: 1px solid $color-cadet-blue-crayola;
        }

        &__text
        {
          @extend %desc-25;

          @include media('<tablet')
          {
            font-size: 5rem;
          }

          @include media('<phone')
          {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  &__clients
  {
    padding-bottom: 12.7rem;

    @include media('<tablet')
    {
      margin-top: 30rem;
    }

    @include media('<phone')
    {
      margin-top: 50rem;
    }

    &__title
    {
      @include media('<tablet')
      {
        text-align: center;
      }

      &__text
      {
        @extend %title-70;

        letter-spacing: 2rem;
        padding: 12.7rem;

        @include media('<tablet')
        {
          padding: 2rem;
          letter-spacing: 0.5rem;
          font-size: 20rem;
        }

        @include media('<phone')
        {
          font-size: 10rem;
        }
      }
    }

    &__gallery
    {
      @include media('<tablet')
      {
        margin-top: 30rem;
      }

      @include media('<phone')
      {
        margin-top: 20rem;
      }

      &__wrapper
      {
        padding: 0 35rem;

        @include media('<tablet')
        {
          padding: 0rem;
        }
      }

      &__client
      {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid $color-cadet-blue-crayola;

        @include media('<tablet')
        {
          justify-content: center;
        }

        @include media('<phone')
        {
          justify-content: space-between;
        }

        &__name
        {
          @extend %desc-25;

          letter-spacing: 1rem;
          padding: 3rem;

          @include media('<tablet')
          {
            font-size: 5rem;
            padding: 5rem;
          }

          @include media('<phone')
          {
            font-size: 2.5rem;
          }
        }
      }

    }
  }

  &__desc
  {
    display: grid;
    grid-template-columns: 1fr 70rem;
    height: 100%;
    width: 100%;
    padding: 12.7rem;
    padding-right: 0;

    @include media('<tablet')
    {
      display: flex;
      flex-direction: column;
      padding: 2.7rem;
    }

    &__gc
    {
      grid-area: 1 / 1 / -1 / 2;
      height: 100%;
      width: 100%;
      align-self: center;
      justify-self: center;
      padding-left: 12.7rem;

      display: grid;
      grid-template-columns: 5rem 1fr;

      @include media('<tablet')
      {
        display: flex;
        flex-direction: column;
        padding: 2.7rem;
      }

      &__title
      {
        @extend %center;

        grid-area: 1 / 1 / -1 / 2;
        height: 100%;
        width: 100%;

        @include media('<tablet')
        {
          margin-top: 40rem;
          margin-bottom: 40rem;
        }

        @include media('<phone')
        {
          margin-top: 30rem;
          margin-bottom: 10rem;
        }

        &__text
        {
          @extend %title-25;

          writing-mode: vertical-rl;
          transform: scale(-1, -1);

          @include media('<tablet')
          {
            font-size: 20rem;
            text-transform: uppercase;
            letter-spacing: 5rem;
          }

          @include media('<phone')
          {
            font-size: 10rem;
          }

          .word
          {
            display: flex;
          }
        }
      }

      &__desc
      {
        grid-area: 1 / 2 / -1 / -1;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include media('<tablet')
        {
          justify-content: center;
        }

        @include media('<phone')
        {
          justify-content: flex-start;
        }

        &__text
        {
          @extend %desc-25;

          @include media('<tablet')
          {
            font-size: 5rem;
          }

          @include media('<phone')
          {
            font-size: 2.5rem;
          }
        }
      }
    }


    &__location
    {
      @extend %center;

      grid-area: 1 / 2 / -1 / -1;
      width: 100%;
      height: 100%;
      padding: 12.7rem;

      border-left: 1px solid $color-cadet-blue-crayola;

      @include media('<tablet')
      {
        border: none;
        padding: 2.7rem;
        text-align: center;
        margin: 20rem 0;
      }

      @include media('<phone')
      {
        margin: 10rem 0;
      }

      &__text
      {
        @extend %title-70;

        writing-mode: vertical-lr;
        transform: scale(1, 1);

        @include media('<tablet')
        {
          writing-mode: horizontal-tb;
          transform: none;
          font-size: 9rem;
        }

        @include media('<phone')
        {
          writing-mode: horizontal-tb;
          transform: none;
          font-size: 4rem;
        }
      }
    }
  }

  &__press
  {
    padding-bottom: 12.7rem;

    @include media('<tablet')
    {
      margin-top: 40rem;
    }

    @include media('<phone')
    {
      margin-top: 50rem;
    }

    &__title
    {
      @include media('<tablet')
      {
        text-align: center;
        margin-bottom: 10rem;
      }

      &__text
      {
        @extend %title-70;

        text-transform: uppercase;
        letter-spacing: 1rem;
        padding: 12.7rem;
        padding-top: 0;

        @include media('<tablet')
        {
          padding: 0;
          font-size: 20rem;
        }

        @include media('<phone')
        {
          font-size: 10rem;
        }
      }
    }

    &__content
    {
      padding: 0 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include media('<tablet')
      {
        padding: 0;
      }

      &__div
      {
        @extend %link__dot__selection--hidden;

        width: 100%;
        border-bottom: 1px solid $color-cadet-blue-crayola;
        transition: all 0.5s ease-in-out;

        &:first-of-type
        {
          @include media('<tablet')
          {
            border-top: 1px solid $color-cadet-blue-crayola;
          }
        }

        &__title
        {
          @extend %desc-25;

          cursor: pointer;
          padding: 3rem;

          @include media('<tablet')
          {
            font-size: 5rem;
            padding: 5rem;
          }

          @include media('<phone')
          {
            font-size: 2.5rem;
            padding: 3rem;
          }

          &__link
          {
            visibility: hidden;
          }
        }
      }
    }
  }

  &__contact
  {
    height: 100%;
    width: 100%;
    padding: 22.7rem;

    @include media('<tablet')
    {
      padding: 2.7rem;
      margin-top: 40rem;
    }

    @include media('<phone')
    {
      margin-top: 50rem;
    }

    &__title
    {
      @extend %center;

      padding-bottom: 6rem;

      &__text
      {
        @extend %title-100;

        text-transform: uppercase;

        @include media('<tablet')
        {
          font-size: 20rem;
        }

        @include media('<phone')
        {
          font-size: 10rem;
        }
      }
    }

    &__details
    {
      @extend %center;

      padding-bottom: 12.7rem;

      display: flex;
      flex-direction: column;

      &__copied
      {
        @extend %desc-30;

        padding: 0.5rem 0;
        opacity: 0;

        @include media('<tablet')
        {
          font-size: 5rem;
        }

        @include media('<phone')
        {
          font-size: 3rem;
        }
      }

      &__text
      {
        @extend %link--hidden;
        @extend %desc-40;

        cursor: pointer;
        line-height: 2;
        letter-spacing: 1rem;
        padding: 0.5rem 0;

        @include media('<tablet')
        {
          letter-spacing: 0.5rem;
          padding: 0;
          font-size: 8rem;
        }

        @include media('<phone')
        {
          font-size: 4rem;
        }
      }
    }

    &__icons
    {
      display: flex;
      align-items: center;
      justify-content: center;

      @include media('<tablet')
      {
        flex-wrap: wrap;

        padding: 5rem;
      }

      &__icon
      {
        height: 4rem;
        width: 4rem;

        margin: 0 2rem;
        vertical-align: top;
        opacity: 1;
        transition: all 0.2s linear;

        @include media('<tablet')
        {
          height: 10rem;
          width: 10rem;

          margin: 5rem;
        }

        @include media('<phone')
        {
          height: 5rem;
          width: 5rem;

          margin: 5rem;
        }

        &:hover
        {
          opacity: 0.5;
        }

        &:first-child
        {
          margin-left: 0;

          @include media('<phone')
          {
            margin-left: 2rem;
          }
        }

        &:last-child
        {
          margin-right: 0;

          @include media('<phone')
          {
            margin-right: 2rem;
          }
        }

        &__div
        {
          height: 100%;
          width: 100%;
          cursor: pointer;

          &__link
          {
            visibility: hidden;
          }
        }

        &__image
        {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__footer
  {
    height: 100%;
    width: 100%;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 70rem 1fr;
    border-top: 1px solid $color-cadet-blue-crayola;

    @include media('<tablet')
    {
      border: none;
      padding: 20rem 0;
      display: flex;
      flex-direction: column;
      margin-top: 50rem;
    }

    &__media
    {
      grid-area: 1 / 1 / -1 / 2;
      align-self: center;
      justify-self: center;

      visibility: hidden;
    }

    &__title
    {
      grid-area: 1 / 2 / -1 / -1;
      align-self: center;
      padding: 10rem 12.7rem;
      border-left: 1px solid $color-cadet-blue-crayola;

      @include media('<tablet')
      {
        border: none;
        padding: 10rem;
        text-align: center;
      }

      &__text
      {
        @extend %title-200;

        letter-spacing: 2rem;

        @include media('<tablet')
        {
          font-size: 25rem;
        }

        @include media('<phone')
        {
          font-size: 10rem;
        }
      }
    }
  }
}
