%desc-12
{
  font-family: $font-satoshi-regular;
  font-size: 1.2rem;
}

%descItalic-12
{
  font-family: $font-satoshi-italic;
  font-size: 1.2rem;
}

%desc-14
{
  font-family: $font-satoshi-regular;
  font-size: 1.4rem;
}

%descItalic-14
{
  font-family: $font-satoshi-italic;
  font-size: 1.4rem;
}

%desc-16
{
  font-family: $font-satoshi-regular;
  font-size: 1.6rem;
}

%descItalic-16
{
  font-family: $font-satoshi-italic;
  font-size: 1.6rem;
}

%desc-18
{
  font-family: $font-satoshi-regular;
  font-size: 1.8rem;
}

%descItalic-18
{
  font-family: $font-satoshi-italic;
  font-size: 1.8rem;
}

%desc-20
{
  font-family: $font-satoshi-regular;
  font-size: 2rem;
}

%descItalic-20
{
  font-family: $font-satoshi-italic;
  font-size: 2rem;
}

%desc-22
{
  font-family: $font-satoshi-regular;
  font-size: 2.2rem;
}

%descItalic-22
{
  font-family: $font-satoshi-italic;
  font-size: 2.2rem;
}

%desc-24
{
  font-family: $font-satoshi-regular;
  font-size: 2.4rem;
}

%descItalic-24
{
  font-family: $font-satoshi-italic;
  font-size: 2.4rem;
}

%desc-25
{
  font-family: $font-satoshi-regular;
  font-size: 2.5rem;
}

%descItalic-25
{
  font-family: $font-satoshi-italic;
  font-size: 2.5rem;
}

%desc-28
{
  font-family: $font-satoshi-regular;
  font-size: 2.8rem;
}

%descItalic-28
{
  font-family: $font-satoshi-italic;
  font-size: 2.8rem;
}

%desc-30
{
  font-family: $font-satoshi-regular;
  font-size: 3rem;
}

%descItalic-30
{
  font-family: $font-satoshi-italic;
  font-size: 3rem;
}

%desc-40
{
  font-family: $font-satoshi-regular;
  font-size: 4rem;
}

%descItalic-40
{
  font-family: $font-satoshi-italic;
  font-size: 4rem;
}

%desc-50
{
  font-family: $font-satoshi-regular;
  font-size: 5rem;
}

%descItalic-50
{
  font-family: $font-satoshi-italic;
  font-size: 5rem;
}

%desc-60
{
  font-family: $font-satoshi-regular;
  font-size: 6rem;
}

%descItalic-60
{
  font-family: $font-satoshi-italic;
  font-size: 6rem;
}

%desc-80
{
  font-family: $font-satoshi-regular;
  font-size: 8rem;
}

%descItalic-80
{
  font-family: $font-satoshi-italic;
  font-size: 8rem;
}

%desc-100
{
  font-family: $font-satoshi-regular;
  font-size: 10rem;
}

%descItalic-100
{
  font-family: $font-satoshi-italic;
  font-size: 10rem;
}

%desc-150
{
  font-family: $font-satoshi-regular;
  font-size: 15rem;
}

%descItalic-150
{
  font-family: $font-satoshi-italic;
  font-size: 15rem;
}

%desc-200
{
  font-family: $font-satoshi-regular;
  font-size: 20rem;
}

%descItalic-200
{
  font-family: $font-satoshi-italic;
  font-size: 20rem;
}
