%title-15
{
  font-family: $font-general-regular;
  font-size: 1.5rem;
}

%titleLight-15
{
  font-family: $font-general-light;
  font-size: 1.5rem;
}

%titleBold-15
{
  font-family: $font-general-bold;
  font-size: 1.5rem;
}

%title-16
{
  font-family: $font-general-regular;
  font-size: 1.6rem;
}

%titleLight-16
{
  font-family: $font-general-light;
  font-size: 1.6rem;
}

%titleBold-16
{
  font-family: $font-general-bold;
  font-size: 1.6rem;
}

%title-18
{
  font-family: $font-general-regular;
  font-size: 1.8rem;
}

%titleLight-18
{
  font-family: $font-general-light;
  font-size: 1.8rem;
}

%titleBold-18
{
  font-family: $font-general-bold;
  font-size: 1.8rem;
}

%title-20
{
  font-family: $font-general-regular;
  font-size: 2rem;
}

%titleLight-20
{
  font-family: $font-general-light;
  font-size: 2rem;
}

%titleBold-20
{
  font-family: $font-general-bold;
  font-size: 2rem;
}

%title-25
{
  font-family: $font-general-regular;
  font-size: 2.5rem;
}

%titleLight-25
{
  font-family: $font-general-light;
  font-size: 2.5rem;
}

%titleBold-25
{
  font-family: $font-general-bold;
  font-size: 2.5rem;
}

%title-30
{
  font-family: $font-general-regular;
  font-size: 3rem;
}

%titleLight-30
{
  font-family: $font-general-light;
  font-size: 3rem;
}

%titleBold-30
{
  font-family: $font-general-bold;
  font-size: 3rem;
}

%title-40
{
  font-family: $font-general-regular;
  font-size: 4rem;
}

%titleLight-40
{
  font-family: $font-general-light;
  font-size: 4rem;
}

%titleBold-40
{
  font-family: $font-general-bold;
  font-size: 4rem;
}

%title-50
{
  font-family: $font-general-regular;
  font-size: 5rem;
}

%titleLight-50
{
  font-family: $font-general-light;
  font-size: 5rem;
}

%titleBold-50
{
  font-family: $font-general-bold;
  font-size: 5rem;
}

%title-60
{
  font-family: $font-general-regular;
  font-size: 6rem;
}

%titleLight-60
{
  font-family: $font-general-light;
  font-size: 6rem;
}

%titleBold-60
{
  font-family: $font-general-bold;
  font-size: 6rem;
}

%title-70
{
  font-family: $font-general-regular;
  font-size: 7rem;
}

%titleLight-70
{
  font-family: $font-general-light;
  font-size: 7rem;
}

%titleBold-70
{
  font-family: $font-general-bold;
  font-size: 7rem;
}

%title-80
{
  font-family: $font-general-regular;
  font-size: 8rem;
}

%titleLight-80
{
  font-family: $font-general-light;
  font-size: 8rem;
}

%titleBold-80
{
  font-family: $font-general-bold;
  font-size: 8rem;
}

%title-90
{
  font-family: $font-general-regular;
  font-size: 9rem;
}

%titleLight-90
{
  font-family: $font-general-light;
  font-size: 9rem;
}

%titleBold-90
{
  font-family: $font-general-bold;
  font-size: 9rem;
}

%title-100
{
  font-family: $font-general-regular;
  font-size: 10rem;
}

%titleLight-100
{
  font-family: $font-general-light;
  font-size: 10rem;
}

%titleBold-100
{
  font-family: $font-general-bold;
  font-size: 10rem;
}

%title-110
{
  font-family: $font-general-regular;
  font-size: 11rem;
}

%titleLight-110
{
  font-family: $font-general-light;
  font-size: 11rem;
}

%titleBold-110
{
  font-family: $font-general-bold;
  font-size: 11rem;
}

%title-120
{
  font-family: $font-general-regular;
  font-size: 12rem;
}

%titleLight-120
{
  font-family: $font-general-light;
  font-size: 12rem;
}

%titleBold-120
{
  font-family: $font-general-bold;
  font-size: 12rem;
}

%title-150
{
  font-family: $font-general-regular;
  font-size: 15rem;
}

%titleLight-150
{
  font-family: $font-general-light;
  font-size: 15rem;
}

%titleBold-150
{
  font-family: $font-general-bold;
  font-size: 15rem;
}

%title-200
{
  font-family: $font-general-regular;
  font-size: 20rem;
}

%titleLight-200
{
  font-family: $font-general-light;
  font-size: 20rem;
}

%titleBold-200
{
  font-family: $font-general-bold;
  font-size: 20rem;
}

%title-300
{
  font-family: $font-general-regular;
  font-size: 30rem;
}

%titleLight-300
{
  font-family: $font-general-light;
  font-size: 30rem;
}

%titleBold-300
{
  font-family: $font-general-bold;
  font-size: 30rem;
}

%title-400
{
  font-family: $font-general-regular;
  font-size: 40rem;
}

%titleLight-400
{
  font-family: $font-general-light;
  font-size: 40rem;
}

%titleBold-400
{
  font-family: $font-general-bold;
  font-size: 40rem;
}

%title-500
{
  font-family: $font-general-regular;
  font-size: 50rem;
}

%titleLight-500
{
  font-family: $font-general-light;
  font-size: 50rem;
}

%titleBold-500
{
  font-family: $font-general-bold;
  font-size: 50rem;
}
