.plyr 
{
  --plyr-color-main: $color-night;
}

.plyr__video-embed
{

  @include media('<=tablet')
  {
    transform: scale(3.5);
  }
}

.part {
  @extend %controls; 

  &__left {
    @extend %clipPathLeft; 
  }

  &__right {
    @extend %clipPathRight; 
  }
}

.active .video__btn__icon {
  transform: rotate(-90deg);
}

.active .part__left {
  @extend %clipPathLeft--active; 
}

.active .part__right {
  @extend %clipPathRight--active; 
}

@keyframes spin 
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.video
{
  @extend %page;

  &__back
  {
    cursor: pointer;

    position: absolute;
    bottom: -0.3rem;
    left: -0.1rem;

    background: $color-night;
    border: 1px solid $color-grey;
    border-left: none;
    border-bottom: none;

    height: 10rem;
    width: 12rem;

    z-index: z('link');

    @include media('<=500px')
    {
      height: 13rem; 
      width: 15rem; 
    }

    @include media('<=400px')
    {
      left: -0.3rem;
    }

    &__button
    {
      height: 0.5rem;
      width: 4rem;

      background: $color-cultured;

      position: absolute; 
      top: 50%; 
      left: 50%; 

      transform: translate(-50%, -50%);
    }
  }

  &__btn 
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transform-origin: center;

    height: 0rem; 
    width: 0rem; 
    
    mix-blend-mode: difference;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: z('content');

    &__icon 
    {
      height: 100%;
      width: 100%;

      transform: rotate(120deg);
      transition: transform 500ms;
    }
  }

  &__wrapper 
  {
    z-index: z('content');
  }

  &__ghost 
  {
    height: 100%; 
    width: 100%; 

    display: grid; 
    grid-template-rows: 85vh 15vh;

    @include media('<=500px')
    {
      grid-template-rows: 77.1vh 15vh;
    }

    @include media('<=400px')
    {
      grid-template-rows: 75vh 15vh;
    }

    &__div 
    {
      grid-area: 1 / 1 / 2 / -1;

      background: transparent;

      height: 100%; 
      width: 100%; 
    }
  }

  &__wrap
  {
    position: fixed; 
    top: 0; 
    left: 0; 

    height: 100%; 
    width: 100%; 
  }

  &__media 
  {
    height: 100%; 
    width: 100%; 

    position: relative; 

    &__cover 
    {
      @extend %cover;

      background: transparent;

      border: 1px solid $color-grey;

      z-index: z('content');
    }
  }

  &__selected 
  {
    height: 100%; 
    width: 100%; 

    position: relative; 

    &__video 
    {
      @extend %cover; 

      object-fit: cover;
    }
  }

  &__title 
  {
    grid-area: 2 / 1 / -1 / -1;

    align-self: center;
    justify-self: center;

    height: 101%; 
    width: 100%;

    border: 1px solid $color-grey;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background: $color-night;

    overflow: hidden;

    position: relative; 

    @include media('<=400px')
    {
      height: 105%; 
      width: 103%; 
    }

    &__wrapper 
    {
      width: 100%; 

      display: flex; 
      align-items: center;

      position: absolute; 
      top: 50%; 
      left: 50%; 

      transform: translate(-50%, -50%);

      white-space: nowrap;
      overflow: hidden;
    }

    &__text 
    {
      @extend %title-100; 

      text-transform: uppercase;
      letter-spacing: 1rem;

      padding: 0 2rem;
    }
  }

  &__grid 
  {
    height: 100%; 
    width: 100%; 

    background: $color-night;

    display: grid; 
    grid-template-columns: 2fr 1fr 2fr;

    border-bottom: 1px solid $color-grey;

    @include media('<=tablet')
    {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @include media('<=500px')
    {
      display: flex; 
      flex-direction: column;
    }
  }

  &__info 
  {
    grid-area: 1 / 1 / -1 / 2;

    width: 100%; 
    height: 100%; 

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-right: 1px solid $color-grey; 

    @include media('<=tablet')
    {
      grid-area: 1 / 1 / 2 / 2;
      border-bottom: 1px solid $color-grey;
    }

    &__title 
    {
      @extend %desc-18;

      font-style: italic;

      @include media('<=500px')
      {
        font-size: 2.5rem;
      }
    }

    &__text 
    {
      @extend %title-40;

      @include media('<=500px')
      {
        font-size: 5rem;
      }
    }

    &__div
    {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 4rem 0;
    }
  }

  &__year 
  {
    grid-area: 1 / 2 / -1 / 3;
    border-right: 1px solid $color-grey; 

    height: 100%; 
    width: 100%; 

    display: flex; 
    align-items: center;
    justify-content: center;

    padding: 4rem 0; 

    @include media('<=tablet')
    {
      grid-area: 1 / 2 / 2 / -1;
      border-bottom: 1px solid $color-grey;
    }

    &__text 
    {
      @extend %title-100; 

      writing-mode: vertical-lr;
      letter-spacing: 1rem;

      @include media('<=500px')
      {
        animation: spin 12s linear infinite;
      }
    }
  }

  &__desc 
  {
    grid-area: 1 / 3 / -1 / -1;

    align-self: center;
    justify-self: center;

    padding: 15rem;

    @include media('<=tablet')
    {
      grid-area: 2 / 1 / -1 / -1;

      padding: 5rem 20rem; 
    }

    @include media('<=500px')
    {
      padding: 0; 
    }

    &__text 
    {
      @extend %desc-18;

      letter-spacing: 0.2rem;
      line-height: 3rem;

      @include media('<=500px')
      {
        font-size: 3rem;
        letter-spacing: 0.25rem;
        line-height: 4rem;

        padding: 5rem;
      }
    }
  }

  &__depth 
  {
    height: 100%; 
    width: 100%; 

    background: $color-night;

    display: grid;

    &__one 
    {
      grid-area: 2 / 2 / 3 / 5;

      height: 70vh; 
      width: 100%; 

      display: grid; 
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);

      @include media('<=tablet')
      {
        grid-area: 2 / 1 / 3 / -1;
        padding-right: 10rem;
      }

      @include media('<=phone')
      {
        padding-right: 0;
      }

      @include media('<=500px')
      {
        grid-area: 1 / 1 / 4 / -1;
      }

      &__bts 
      {
        grid-area: 1 / 2 / 3 / -1;

        height: 100%; 
        width: 100%;

        position: relative; 

        @include media('<=500px')
        {
          grid-area: 1 / 1 / 3 / -1;
          border-bottom: 1px solid $color-grey;
        }

        @include media('<=400px')
        {
          height: 40rem;
        }

        &__media 
        {
          height: 100%; 
          width: 100%;  

          position: relative; 

          z-index: z('title');

          &__image 
          {
            @extend %cover; 

            object-fit: cover;
          }
        }

        &__text 
        {
          @extend %desc-14;

          position: absolute; 
          top: 0;
          right: -2.5%; 

          writing-mode: vertical-lr;          
          font-style: italic;

          @include media('<=phone')
          {
            display: none;
          }
        }

      }

      &__desc 
      {
        grid-area: 2 / 1 / -1 / 3;

        align-self: center;
        justify-self: center;

        z-index: z('content');

        @include media('<=500px')
        {
          grid-area: 3 / 1 / -1 / 4;

          padding: 10rem 5rem;
        }

        &__text 
        {
          @extend %desc-18; 

          letter-spacing: 0.1rem;

          @include media('<=500px')
          {
            font-size: 3rem;
          }
        }
      }
    }

    &__two 
    {
      height: 70vh; 
      width: 100%; 

      display: grid; 
      grid-template-columns: 20rem repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);

      @include media('<=tablet')
      {
        display: flex; 
        flex-direction: column;
        gap: 5rem; 

        padding: 0 5rem;
      }

      @include media('<=500px')
      {
        padding: 0; 
      }

      &__bts 
      {
        grid-area: 1 / 2 / -1 / 4;

        height: 100%; 
        width: 100%; 

        position: relative;

        @include media('<=500px')
        {
          border-top: 1px solid $color-grey;
          border-bottom: 1px solid $color-grey;

          margin-bottom: 10rem; 
        }

        &__media 
        {
          height: 100%; 
          width: 100%; 

          position: relative;
          
          @include media('<=phone')
          {
            height: 50rem; 
          }

          &__image 
          {
            @extend %cover; 

            object-fit: cover;
          }
        }

        &__text 
        {
          @extend %desc-14;
          position: absolute; 
          bottom: 0;
          left: -2.5%; 

          writing-mode: vertical-lr; 
          transform: scale(-1, -1);         
          font-style: italic;

          @include media('<=phone')
          {
            display: none; 
          }
        }
      }

      &__desc 
      {
        grid-area: 1 / 4 / -1 / -1;

        align-self: center;
        justify-self: center;

        &__text 
        {
          @extend %desc-18; 

          letter-spacing: 0.1rem;

          @include media('<=500px')
          {
            font-size: 3rem;
          }
        }
      }
    }
  }

  &__footer 
  {
    height: 100%;
    width: 100%;

    background: $color-night;

    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;

    &__grid 
    {
      height: 100%;
      width: 100%; 

      display: grid; 
      grid-template-columns: 1fr 1fr;

      @include media('<=500px')
      {
        display: flex; 
        flex-direction: column;
      }
    }

    &__credits 
    {
      grid-area: 1 / 1 / -1 / 2;

      align-self: center;
      justify-self: center;

      border-right: 1px solid $color-grey;

      height: 100%; 
      width: 100%;

      display: grid; 
      grid-template-rows: 15rem 1fr;
  
      &__desc 
      {
        grid-area: 2 / 1 / -1 / -1;
        align-self: center;
        justify-self: center;

        padding: 10rem 0;

        @include media('<=500px')
        {
          justify-self: normal;
          padding: 10rem 5rem;
        }

        &__text 
        {
          @extend %desc-18; 
          
          line-height: 3rem;
          letter-spacing: 0.2rem;

          @include media('<=500px')
          {
            font-size: 3rem;
            line-height: 4rem;
          }
        }
      }

      &__title 
      {
        grid-area: 1 / 1 / 2 / -1;
  
        height: 100%; 
        width: 100%; 
  
        border-bottom: 1px solid $color-grey;
  
        overflow: hidden;

        display: flex; 
        align-items: center;

        @include media('<=400px')
        {
          width: 103%; 
        }
  
        &__text 
        {
          @extend %title-100;

          padding: 0 2rem;

          text-transform: uppercase;
        }
      }
    }

    &__thanks 
    {
      grid-area: 1 / 2 / -1 / -1;

      height: 100%; 
      width: 100%; 

      display: grid; 
      grid-template-rows: 15rem 1fr;

      &__title 
      {
        grid-area: 1 / 1 / 2 / -1;

        width: 100%; 
        height: 100%; 

        border-bottom: 1px solid $color-grey;
        overflow: hidden;

        white-space: nowrap;

        display: flex; 
        align-items: center;

        @include media('<=500px')
        {
          border-top: 1px solid $color-grey;
        }

        @include media('<=400px')
        {
          width: 103%; 
        }

        &__text 
        {
          @extend %title-100;

          padding: 0 2rem;

          text-transform: uppercase;
        }
      }

      &__desc
      {
        grid-area: 2 / 1 / -1 / -1;

        align-self: center;
        justify-self: center;

        &__text 
        {
          @extend %desc-18;

          line-height: 3rem;
          letter-spacing: 0.2rem;

          @include media('<=500px')
          {
            font-size: 3rem;
            line-height: 4rem;

            padding-top: 10rem; 
            padding-bottom: 20rem; 
          }
        }
      }
    }
  }
}