.plyr 
{
  --plyr-color-main: $color-night;
}

.video
{
  @extend %page;

  &__wrapper 
  {
    border-right: 1px solid $color-grey;
    border-left: 1px solid $color-grey;
  }

  &__ghost 
  {
    height: 100%; 
    width: 100%; 

    display: grid; 
    grid-template-rows: 91.6rem 15rem;

    &__div 
    {
      grid-area: 1 / 1 / 2 / -1;

      background: transparent;

      height: 100%; 
      width: 100%; 
    }
  }

  &__wrap
  {
    position: fixed; 
    top: 0; 
    left: 0; 

    height: 100%; 
    width: 100%; 
  }

  &__media 
  {
    height: 100%; 
    width: 100%; 
  }

  &__preview 
  {
    height: 100%; 
    width: 100%; 

    position: relative;

    &__image 
    {
      @extend %cover; 

      object-fit: cover;
    }
  }

  &__selected 
  {
    height: 100%; 
    width: 100%; 

    position: relative; 

    &__video 
    {
      @extend %cover; 

      object-fit: cover;
    }
  }

  &__title 
  {
    grid-area: 2 / 1 / -1 / -1;

    align-self: center;
    justify-self: center;

    height: 100%; 
    width: 100%;

    padding: 2rem 1rem 1rem 1rem;

    text-align: center;

    border: 1px solid $color-grey;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    background: $color-night;

    &__text 
    {
      @extend %title-100; 

      text-transform: uppercase;
      letter-spacing: 1rem;
    }
  }

  &__grid 
  {
    height: 100%; 
    width: 100%; 

    background: $color-night;

    display: grid; 
    grid-template-columns: 2fr 1fr 2fr;

    border-bottom: 1px solid $color-grey;
  }

  &__info 
  {
    grid-area: 1 / 1 / -1 / 2;

    width: 100%; 
    height: 100%; 

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-right: 1px solid $color-grey; 

    &__title 
    {
      @extend %desc-18;

      font-style: italic;
    }

    &__text 
    {
      @extend %title-40;
    }

    &__div
    {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 4rem 0;
    }
  }

  &__year 
  {
    grid-area: 1 / 2 / -1 / 3;
    border-right: 1px solid $color-grey; 

    height: 100%; 
    width: 100%; 

    display: flex; 
    align-items: center;
    justify-content: center;

    &__text 
    {
      @extend %title-100; 

      writing-mode: vertical-lr;
      transform: scale(-1, -1);
      letter-spacing: 1rem;
    }
  }

  &__desc 
  {
    grid-area: 1 / 3 / -1 / -1;

    height: 100%; 
    width: 100%;

    align-self: center;
    justify-self: center;

    padding: 15rem;

    &__text 
    {
      @extend %desc-18;

      letter-spacing: 0.2rem;
      line-height: 3rem;
    }
  }

  &__depth 
  {
    height: 100%; 
    width: 100%; 

    background: $color-night;

    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20rem 1fr 20rem 1fr 20rem;

    &__one 
    {
      grid-area: 2 / 2 / 3 / 5;

      height: 70vh; 
      width: 100%; 

      display: grid; 
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);

      &__bts 
      {
        grid-area: 1 / 2 / 3 / -1;

        height: 100%; 
        width: 100%;

        &__media 
        {
          height: 100%; 
          width: 100%;  

          position: relative; 

          &__image 
          {
            @extend %cover; 

            object-fit: cover;
          }

          &__text 
          {
            @extend %desc-14;
            position: absolute; 
            top: 0;
            right: -2.5%; 

            writing-mode: vertical-lr;          
            font-style: italic;
          }
        }

      }

      &__desc 
      {
        grid-area: 2 / 1 / -1 / 3;

        align-self: center;
        justify-self: center;

        z-index: z('content');

        &__text 
        {
          @extend %desc-18; 

          letter-spacing: 0.1rem;
        }
      }
    }

    &__two 
    {
      grid-area: 4 / 1 / 5 / -1;

      height: 70vh; 
      width: 100%; 

      display: grid; 
      grid-template-columns: 20rem repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);

      &__bts 
      {
        grid-area: 1 / 2 / -1 / 4;

        height: 100%; 
        width: 100%; 

        &__media 
        {
          height: 100%; 
          width: 100%; 

          position: relative; 

          &__image 
          {
            @extend %cover; 

            object-fit: cover;
          }

          &__text 
          {
            @extend %desc-14;
            position: absolute; 
            bottom: 0;
            left: -2.5%; 

            writing-mode: vertical-lr; 
            transform: scale(-1, -1);         
            font-style: italic;
          }
        }
      }

      &__desc 
      {
        grid-area: 1 / 4 / -1 / -1;

        align-self: center;
        justify-self: center;

        &__text 
        {
          @extend %desc-18; 

          letter-spacing: 0.1rem;
        }
      }
    }
  }

  &__footer 
  {
    height: 100%;
    width: 100%;

    background: $color-night;

    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;

    &__grid 
    {
      height: 100%;
      width: 100%; 

      display: grid; 
      grid-template-columns: 2fr 1fr 2fr;
    }

    &__credits 
    {
      grid-area: 1 / 1 / -1 / 2;

      align-self: center;
      justify-self: center;

      padding: 5rem 0;

  
      &__text 
      {
        @extend %desc-18; 
        
        line-height: 3rem;
        letter-spacing: 0.2rem;
      }

    }

    &__title 
    {
      grid-area: 1 / 2 / -1 / 3;

      height: 100%; 
      width: 100%; 

      border-left: 1px solid $color-grey;
      border-right: 1px solid $color-grey;

      overflow: hidden;

      padding: 4rem 0;  

      display: flex; 
      justify-content: center;
      align-items: center;

      &__text 
      {
        @extend %title-100;

        writing-mode: vertical-lr;
        text-transform: uppercase;
      }
    }

    &__thanks 
    {
      grid-area: 1 / 3 / -1 / -1;

      height: 100%; 
      width: 100%; 

      display: grid; 
      grid-template-rows: 10rem 1fr;

      &__title 
      {
        grid-area: 1 / 1 / 2 / -1;

        width: 100%; 
        height: 100%; 

        border-bottom: 1px solid $color-grey;
        overflow: hidden;

        text-align: center;

        padding-top: 2rem;

        &__text 
        {
          @extend %title-70;

          text-transform: uppercase;
        }
      }

      &__desc
      {
        grid-area: 2 / 1 / -1 / -1;

        align-self: center;
        justify-self: center;

        &__text 
        {
          @extend %desc-18;

          line-height: 3rem;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}