.gallery
{

  &__title 
  {
    height: 10rem; 
    width: 24rem; 

    position: absolute; 
    top: 0; 
    left: 11.7rem;

    border-right: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;

    white-space: nowrap;
    overflow: hidden;

    background: $color-night;

    transform: scaleX(0.0);

    z-index: z('modal');

    &__text 
    {
      @extend %titleBold-15; 

      text-transform: uppercase;

      position: absolute; 
      top:50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
    }

    @include media('<=tablet')
    {
      visibility: hidden;
    }
  }

  &__modal
  {
    @extend %cover;

    height: 100%;
    width: 100%;

    z-index: z('modal');
    background: #00000094;
    opacity: 0.0;

    display: none;

    place-content: center;

    border: 1px solid $color-grey;

    @include media('<phone')
    {
      padding: 2rem;
    }

    &__images::-webkit-scrollbar 
    {
      display: none;
    } 

    &__images 
    {
      position: absolute; 
      bottom: -0.1rem;
      left: -0.1rem;

      height: 10rem;
      width: 0px;

      border: 1px solid $color-grey;
      border-bottom: none;

      background: $color-night;

      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      display: flex;

      @include media('<=tablet')
      {
        height: 26rem;

        bottom: -0.1rem; 
        left: -0.15rem;
      }

      &__wrapper 
      {
        position: absolute; 
        top: 0; 
        left: 0; 

        height: 100%; 
        
        display: flex; 
        gap: 1rem;

        padding: 1rem; 

        @include media('<=500px')
        {
          gap: 3rem; 
        }
      }

      &__div 
      {
        height: 100%; 
        width: 10rem; 

        overflow: hidden;

        position: relative; 

        padding: 1rem 0;

        @include media('<=500px')
        {
          width: 15rem; 
        }

        &:hover
        {
          cursor: pointer;
        }

        &__media 
        {
          height: 100%; 
          width: 100%; 

          overflow: hidden;

          position: relative; 

          &__figure 
          {
            position: relative; 
  
            height: 100%; 
            width: 100%; 
  
            &__image 
            {
              @extend %cover; 
  
              object-fit: cover;
            }
          }
        }

        &__top 
        {
          position: absolute; 
          top: 0; 
          left: 0; 

          transform-origin: left;
          transform: scaleX(0.0);

          height: 0.3rem; 
          width: 100%; 
          
          background: $color-cultured;

          @include media('<=500px')
          {
            height: 0.5rem; 
          }
        }

        &__bottom 
        {
          position: absolute; 
          bottom: 0; 
          right: 0; 

          transform-origin: right;
          transform: scaleX(0.0); 

          height: 0.3rem; 
          width: 100%; 
          
          background: $color-cultured;

          @include media('<=500px')
          {
            height: 0.5rem; 
          }
        }
      }
    }

    &__text 
    {
      display: none;

      @include media('<=tablet')
      {
        display:block;

        position: absolute;
        bottom: 10rem;
        right: -0.1rem;

        height: 10rem;
        width: 12rem;

        background: $color-night;
        border: 1px solid $color-grey;
        border-right: none;
        border-bottom: none;

        display: grid; 
        place-content: center;

        @include media('<=tablet')
        {
          bottom: 12.9rem; 

          height: 13rem; 
          width: 15rem; 
        }

        @include media('<=500px')
        {
          right: -0.2rem;
        }
      }

      &__close 
      {
        @extend %desc-16;
        color: $color-cultured;
        text-transform: lowercase;

        cursor: pointer;

        @include media('<=tablet')
        {
          font-size: 2.5rem;
        }

        @include media('<=phone')
        {
          font-size: 2rem;
        }

        @include media('<=500px')
        {
          font-size: 3rem;
        }

        .char 
        {
          opacity: 0.0;
        }
      }
    }

    &__selected
    {
      width: 60rem;
      height: 60rem;

      cursor: none;

      @include media('<=tablet')
      {
        padding-bottom: 15rem;
      }

      &__text
      {
        position: absolute; 
        top: 50%; 
        left: 50%;

        transform: translate(-50%, -50%);

        mix-blend-mode: difference;

        @include media('<=tablet')
        {
          display: none;
        }

        &__close
        {
          @extend %desc-40; 

          text-transform: uppercase;
        }
      }

      &__figure
      {
        height: 100%;
        width: 100%;

        &__image
        {
          height: 100%;
          width: 100%;
          object-fit: contain;

          transform: scale(0.0);
          transform-origin: center;
        }
      }
    }
  }

  &__media
  {
    @extend %cover;

    z-index: z('content');

    &__div
    {
      margin: 0 10rem;
      cursor: pointer;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      &__figure
      {
        width: 50rem;
        height: 65rem;

        position: relative;

        visibility: hidden;

        @include media('<=tablet')
        {
          width: 45rem;
          height: 60rem;
        }

        @include media('<=phone')
        {
          width: 40rem;
          height: 50rem;
        }

        @include media('<=500px')
        {
          width: 60rem;
          height: 75rem;
        }

        @include media('<=400px')
        {
          width: 45rem;
          height: 60rem;
        }

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }
    }
  }

  &__wrapper
  {
    display: flex;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-48rem * 0.5, -50%);

    @include media('<=tablet')
    {
      transform: translate(-45rem * 0.5, -50%);
    }

    @include media('<=phone')
    {
      transform: translate(-40rem * 0.5, -50%);
    }

    @include media('<=500px')
    {
      transform: translate(-60rem * 0.5, -50%);
    }

    @include media('<=400px')
    {
      transform: translate(-45rem * 0.5, -50%);
    }
  }

  &__info
  {
    position: absolute;
    top: 50%;
    left: 15rem;
    transform: translateY(-50%);

    opacity: 0.0;

    z-index: z('title');

    @include media('<=tablet')
    {
      top: 18%; 
      left: 0; 

      width: 100%;

      display: flex; 
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    @include media('<=phone')
    {
      height: 100%; 
      top: 1rem; 
      transform: none;
      justify-content: space-between;
      padding: 5rem;
      flex-direction: column;

      gap: 0; 
    }

    @include media('<=500px')
    {
      height:auto;
      top: 3.5rem; 
      justify-content: center;
      display: grid; 
      grid-template-rows: 12rem 1fr; 
      justify-items: center;
      padding: 0;
      gap: 2rem; 
    }

    &__title
    {
      @extend %titleBold-60;

      line-height: 6rem;
      text-transform: uppercase;

      .char 
      {
        opacity: 0.0;
      }

      @include media('<=tablet')
      {
        text-align: right;

        border-right: 1px solid $color-grey;

        padding-right: 1.5rem;
      }

      @include media('<=phone')
      { 
        text-align: center;
        width: fit-content;

        border-right: none;

        padding-right: 0;
        font-size: 5rem;
        line-height:5rem;
      }
    }

    &__desc
    {
      align-self: center;

      @extend %desc-16;

      @include media('<=tablet')
      {
        font-size: 2rem;
      }

      .char 
      {
        opacity: 0.0;
      }
    }
  }

  &__back
  {
    cursor: pointer;

    position: absolute;
    bottom: -0.1rem;
    left: -0.1rem;

    background: $color-night;
    border: 1px solid $color-grey;
    border-left: none;
    border-bottom: none;

    height: 10rem;
    width: 12rem;

    z-index: z('link');

    @include media('<=tablet')
    {
      bottom: -0.2rem; 
      left: -0.2rem;

      height: 13rem; 
      width: 15rem; 
    }

    &__button
    {
      height: 0.5rem;
      width: 4rem;

      background: $color-cultured;

      position: absolute; 
      top: 50%; 
      left: 50%; 

      transform: translate(-50%, -50%);

      @include media('<=500px')
      {
        width: 6rem; 
      }
    }
  }
}
