.menu
{
  @extend %page;
  @extend %cover;

  overflow: hidden;


  &__right 
  {
    position: absolute; 
    top: 50%; 
    right: 2rem; 

    transform: translateY(-50%); 
    
    height: 70rem; 
    width: 0px; 

    border: 1px solid $color-grey;

    overflow: hidden;

    &__desktop 
    {
      height: 100%; 
      width: 100%; 

      position: relative; 

      @include media('<=tablet')
      {
        position: absolute; 
        top: 0%;
        left: 0%;  
      }

      &__objects 
      {
        height: 100%; 
        width: 100%; 

        position: relative; 

        @include media('<=tablet')
        {
          height: 100%; 
          width: 100%; 

          position: absolute; 
          top: 50%; 
          left: 50%; 

          transform: translate(-50%, -13rem);
        }
      }

      &__object 
      {
        height: 100%; 
        width: 100%; 

        position: absolute;
        top: 0; 
        left: 0; 

        @include media('<=tablet')
        {
          position: initial;
          height:49rem;
          width:100%;

          padding: 7rem 0; 

          border-bottom: 1px solid $color-grey;
          border-top: 1px solid $color-grey;
        }
      }

      &__images 
      {
        position: absolute; 
        top: 30%; 
        right: 30rem; 

        transform: translateY(-50%);

        width:fit-content;
        display: none;

        @include media ('<=tablet')
        {
          display: none; 
        }
      }

      &__image 
      {
        position: absolute; 
        top: 0; 
        left: 2rem;

        height: 10rem; 
        width: 10rem; 

        &__figure 
        {
          height: 100%; 
          width: 100%; 

          position: relative;

          &__image 
          {
            @extend %cover; 

            object-fit: cover;
          }
        }
      }

      &__comp 
      {
        position: absolute;
        top: 3.2rem; 
        left: 10rem;

        width: 10rem;

        display: flex; 
        justify-content: space-between;

        @include media ('<=tablet')
        {
          display: none; 
        }
      }

      &__index 
      {
        position: absolute; 
        top: 3.2rem; 
        left: 2rem; 

        display: flex; 

        @include media ('<=tablet')
        {
          display: none; 
        }
      }

      &__length 
      {
        position: absolute; 
        top: 10rem; 
        right: 3rem; 

        z-index: 1;
        mix-blend-mode: difference;

        @include media ('<=tablet')
        {
          display: none; 
        }

        &__text 
        {
          @extend %desc-50; 
        }
      }

      &__title 
      {
        position: absolute; 
        bottom: 2rem; 
        left: 2rem; 

        @include media('<=tablet')
        {
          position:initial;

          height: 100%; 
          width: 100%;
          
          display: grid; 
          place-content: center;
          
          writing-mode: vertical-lr;
          white-space: nowrap;
          letter-spacing: 0.4rem;
          text-align: center;
        }

        &__text 
        {
          @extend %titleBold-110;
          
          line-height: 12.5rem;

          @include media ('<=tablet')
          {
            font-family: 'Satoshi-Regular';
            font-size: 2.5rem;

            display: flex; 
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .word 
            {
              display: flex; 
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    @include media('<=tablet')
    {
      position: absolute; 
      top: 50%; 
      right: 0rem; 

      transform: translateY(-50%); 
      
      height: 0px; 
      width: 15rem; 
  
      border: 1px solid $color-grey;
      border-right: none;
    }

    &__phone 
    {
      height: 100%; 
      width: 100%; 

      position: relative; 


      &__outer 
      {
        position: absolute; 
        top: 0; 
        left: 0; 

        height: 100%; 
        width: 100%; 
      }

      &__inner
      {
        height: 100%; 
        width: 100%; 

        position: absolute; 
        top: 50%; 
        left: 50%; 

        transform: translate(-50%, -17rem);

        &:first-child
        {
          border-top: 1px solid $color-grey;
        }
      }

      &__title 
      {
        
        height: 49rem; 
        width: 100%;
         
        display: grid; 
        place-content: center;
        
        writing-mode: vertical-lr;
        white-space: nowrap;
        letter-spacing: 0.4rem;
        text-align: center;

        border-bottom: 1px solid $color-grey;

        &__text 
        {
          font-family: 'Satoshi-Regular';
          font-size: 2.5rem;

          display: flex; 
          align-items: center;
          justify-content: center;
          gap: 1rem;

          .word 
          {
            display: flex; 
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  &__title
  {
    height: 100%;
    width: 12rem;

    position: absolute;
    bottom: 0;
    left: 0;

    border-right: 1px solid $color-grey;
    border-top: 1px solid $color-grey;

    overflow: hidden;

    @include media('<=tablet')
    {
      width: 15rem;

      background: $color-night;

      z-index: z('modal');
    }

    &__wrapper 
    {
      height: 100%; 
      width: 100%; 

      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      white-space: nowrap;
    }

    &__text
    {
      text-transform: uppercase;
      letter-spacing: 1rem;

      padding: 1rem 0; 

      writing-mode: vertical-rl;
      transform: scale(-1, -1);

      &:nth-child(odd)
      {
        @extend %titleLight-70;
      }

      &:nth-child(even)
      {
        @extend %titleBold-70;
      }
    }
  }

  &__wrapper
  {
    @extend %cover;

    z-index: z('content');
  }

  &__gallery
  {
    position: absolute;
    left: 20rem;
    top: 50%;

    transform: translateY(-30rem * 0.5);

    @include media('<=phone')
    {
      left: 50%; 
      transform: translate(-50%, -30rem * 0.5);
    }

    &__image
    {
      position: relative;
      display: flex;

      margin: 5rem 0;

      @include media('<=500px')
      {
        margin: 0; 
        padding-bottom: 5rem;
      }

      &__top
      {
        height: 1rem;
        width: 100%; 

        position: absolute; 
        top: -1.5rem;
        left: 0; 

        background: $color-cultured;

        transform-origin: left;
        transform: scaleX(0.0);

        margin: 2rem 0;

        @include media('<=tablet')
        {
          display: none;
        }
      }

      &__bottom
      {
        height: 1rem;
        width: 100%; 

        position: absolute; 
        bottom: -1.5rem;
        right: 0; 

        background: $color-cultured;

        transform-origin: right;
        transform: scaleX(0.0);

        margin: 2rem 0;

        @include media('<=tablet')
        {
          display: none;
        }
      }

      &__link
      {
        padding: 2rem 0;
        display: block;
        z-index: 100;
        width: 100%;
      }

      &__figure
      {
        height: 20rem;
        width: 90rem;
        position: relative;

        visibility: hidden;

        @include media('<=tablet')
        {
          height: 40rem; 
          width: 60rem; 
        }

        @include media('<=phone')
        {
          height: 40rem; 
          width: 40rem; 
        }

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }
    }
  }
}


