.menu
{
  @extend %page;
  @extend %cover;

  overflow: hidden;

  &__right 
  {
    display: none; 

    @include media('<=500px')
    {
      display: block;

      position: absolute; 
      top: 50%; 
      right: 0rem; 

      transform: translateY(-50%); 
      
      height: 0px; 
      width: 15rem; 
  
      border: 1px solid $color-grey;
      border-right: none;
    }
  }

  &__title
  {
    height: 100%;
    width: 12rem;

    position: absolute;
    bottom: 0;
    left: 0;

    border-right: 1px solid $color-grey;
    border-top: 1px solid $color-grey;

    overflow: hidden;

    @include media('<=500px')
    {
      width: 15rem;

      background: $color-night;

      z-index: z('modal');
    }

    &__wrapper 
    {
      height: 100%; 
      width: 100%; 

      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      white-space: nowrap;
    }

    &__text
    {
      @extend %title-70;

      text-transform: uppercase;
      letter-spacing: 1rem;

      padding: 2rem 0; 

      writing-mode: vertical-rl;
      transform: scale(-1, -1);
    }
  }

  &__wrapper
  {
    @extend %cover;

    z-index: z('content');
  }

  &__gallery
  {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -30rem * 0.5);

    &__image
    {
      position: relative;
      display: flex;

      margin: 5rem 0;

      @include media('<=500px')
      {
        margin: 0; 
        padding-bottom: 5rem;
      }

      &__left
      {
        height: 100%;
        width: 0.5rem; 

        position: absolute; 
        bottom: 0;
        left: 1.8rem; 

        background: $color-cultured;

        transform-origin: bottom;
        transform: scaleY(0.0);

        margin: 2rem 0;

        @include media('<=tablet')
        {
          display: none;
        }
      }

      &__right
      {
        height: 100%;
        width: 0.5rem; 

        position: absolute; 
        top: 0;
        right: 1.8rem; 

        background: $color-cultured;

        transform-origin: top;
        transform: scaleY(0.0);

        margin: 2rem 0;

        @include media('<=tablet')
        {
          display: none;
        }
      }

      &__link
      {
        padding: 2rem 0;
        display: block;
        z-index: 100;
        width: 100%;
      }

      &__figure
      {
        height: 20rem;
        width: 100rem;
        position: relative;

        visibility: hidden;

        @include media('<=tablet')
        {
          height: 15rem; 
          width: 70rem; 
        }

        @include media('<=phone')
        {
          height: 40rem; 
          width: 40rem; 
        }

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }

      &__type
      {
        align-self: flex-start;
        padding: 2rem 0.5rem;

        @include media('<=tablet')
        {
          display:none;
        }

        &__text
        {
          @extend %desc-20;

          writing-mode: vertical-rl;
          transform: scale(-1, -1);
          word-spacing: 2rem;
          overflow: hidden;

          .char 
          {
            opacity: 0.0;
          }
        }
      }

      &__index
      {
        align-self: flex-end;
        padding: 2rem 0.5rem;

        @include media('<=tablet')
        {
          display: none;
        }

        &__text
        {
          @extend %desc-20;

          writing-mode: vertical-rl;
          transform: scale(1, 1);
          word-spacing: 2rem;
          overflow: hidden;

          .char 
          {
            opacity: 0.0;
          }
        }
      }

      &__title
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%; 

        @include media('<=500px')
        {
          writing-mode: vertical-lr;

          left:auto;
          right: -50%; 

          transform: translate(-90%, -50%);
           
          width: fit-content;

          white-space: nowrap;

          padding: 3rem 0; 

          letter-spacing: 0.4rem;
        }

        &__text
        {
          @extend %title-70;

          text-align: center;
          text-shadow:
            -1px -1px 0 $color-night,
            1px -1px 0 $color-night,
            -1px 1px 0 $color-night,
            1px 1px 0 $color-night;

          width: 100%;

          padding: 0 1rem;
          overflow: hidden;

          @include media('<=tablet')
          {
            font-size: 5rem;
          }

          @include media('<=phone')
          {
            font-size: 4rem;
          }

          @include media('<=500px')
          {
            padding: 0;

            font-family: 'Montserrat';
            font-size: 3rem;

            display: flex; 
            gap: 1rem; 
            align-items: center; 
            justify-content: center
          }

          .char 
          {
            opacity: 0.0;
          }
        }
      }
    }
  }
}


