.preloader
{
  @extend %cover;
  @extend %center;

  background: #0d0d0d;
  color: $color-cultured;
  z-index: z('preloader');

  &__number
  {
    @extend %title-40;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    mix-blend-mode: difference;

    &__text
    {
      display: inline-block;

      @include media('<tablet')
      {
        font-size: 4rem;
      }

      @include media('<phone')
      {
        font-size: 2.5rem;
      }
    }
  }
}
