.preloader
{
  @extend %cover;
  @extend %center;

  background: #0d0d0d;
  color: $color-cultured;
  z-index: z('preloader');

  &__number
  {
    @extend %titleBold-200;

    position: absolute;
    right: 5rem;
    bottom: 5rem;
    overflow: hidden;

    mix-blend-mode: difference;

    @include media('<=tablet')
    {
      bottom: auto; 
      right: auto; 

      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
    }

    &__text
    {
      display: inline-block;

      @include media('<=tablet')
      {
        font-size: 10rem;
      }
    }
  }
}
