.preloader
{
  @extend %cover;
  @extend %center;

  background: #0d0d0d;
  color: $color-cultured;
  z-index: z('preloader');

  &__nav
  {
    width: 100%;
    height: 1px;
    background: $color-grey;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;

    &::before
    {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 1px;
      background: $color-night;
    }
  }


  &__logoBorder
  {
    width: 1px;
    height: 10rem;
    background: $color-grey;
    position: absolute;
    top: 0;
    left: 12rem;
    transform: scaleY(0);
    transform-origin: top;

    &::before
    {
      content: "";
      position: absolute;
      top: 100%;
      left: 12rem;
      width: 100%;
      height: 100%;
      background: $color-night;
    }
  }

  &__left
  {
    width: 2px;
    height: 100%;
    background: $color-grey;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;

    &::before
    {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-night;
    }
  }

  &__right
  {
    width: 2px;
    height: 100%;
    background: $color-grey;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;

    &::before
    {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      height: 100%;
      background: $color-night;
    }
  }

  &__bottom
  {
    width: 100%;
    height: 2px;
    background: $color-grey;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;

    &::before
    {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 1px;
      background: $color-night;
    }
  }

 /*  &__footer
  {
    width: 12rem;
    height: 10rem;
    background: $color-cultured;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid $color-cultured;
    border-right: none;
    border-bottom: none;

    background: #0d0d0d;
  } */

  &__number
  {
    @extend %title-40;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    mix-blend-mode: difference;

    &__text
    {
      display: inline-block;

      @include media('<tablet')
      {
        font-size: 4rem;
      }

      @include media('<phone')
      {
        font-size: 2.5rem;
      }
    }
  }
}
