*
{
  box-sizing: border-box;
  user-select: none;
}

html
{
  @extend %cover;

  font-size: calc(100vw / 1920px * 10px);

  overscroll-behavior: none;
  overflow: hidden;
  position: fixed;

  background: $color-night;
  color: $color-cultured;

  @include media('<=tablet')
  {
    font-size: calc(100vw / 1024px * 10px);
  }

  @include media('<=phone')
  {
    font-size: calc(100vw / 768px * 10px);
  }
}

body
{
  @extend %cover;
  @extend %desc-16;

  position: fixed;
  font-family: $font-montserrat-light;
}

canvas
{
  position: relative;
  z-index: z('canvas');
  pointer-events: none;
}

a
{
  color: inherit;
  text-decoration: none;
  outline: none;
}

img
{
  opacity: 0;
  transition: opacity .5s ease;
  vertical-align: middle;

  &.loaded
  {
    opacity: 1;
  }
}

.content
{
  @extend %cover;

  border: 1px solid $color-grey;
}

[data-animation="title"]
{
  .word
  {
    padding: 0 1rem;

    .char
    {
      transform: translateY(100%);
    }
  }
}

[data-animation="paragraph"],
[data-animation="label"]
{
  .word
  {
    overflow: hidden;
    padding: 0 0.5rem;
  }
}

[data-animation="paragraph"],
[data-animation="label"],
[data-animation="title"]
{
  line-height: normal;

  span
  {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }
}
