.home
{
  @extend %page;
  @extend %cover;

  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;

  &__logo
  {
    @extend %cover;

    &__figure
    {
      position: relative;

      height: 100%;
      width: 100%;

      visibility: hidden;

      &__image
      {
        @extend %cover;

        object-fit: cover;
      }
    }
  }

  &__gallery
  {
    @extend %cover;

    z-index: z('content');

    &__wrapper
    {
      @extend %cover;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__showcase
    {
      display: flex;
    }

    &__image
    {
      display: flex;

      margin: 0 2rem;

      &__link
      {
        @extend %link__menu--hidden;

        padding: 2rem 0;
        display: block;
        z-index: 100;
      }

      &__figure
      {
        position: relative;

        height: 30rem;
        width: 10rem;

        visibility: hidden;

        &__image
        {
          @extend %cover;

          object-fit: cover;
        }
      }
    }
  }
}

